<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Fishing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signupstaffcontroller</display-name>
    <servlet-name>signupstaffcontroller</servlet-name>
    <servlet-class>Controller.signupstaffcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupstaffcontroller</servlet-name>
    <url-pattern>/signupstaffcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDAO</display-name>
    <servlet-name>StaffDAO</servlet-name>
    <servlet-class>dao.StaffDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDAO</servlet-name>
    <url-pattern>/StaffDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionManager</display-name>
    <servlet-name>ConnectionManager</servlet-name>
    <servlet-class>db.ConnectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionManager</servlet-name>
    <url-pattern>/ConnectionManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffBean</display-name>
    <servlet-name>StaffBean</servlet-name>
    <servlet-class>model.StaffBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffBean</servlet-name>
    <url-pattern>/StaffBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginstaffcontroller</display-name>
    <servlet-name>loginstaffcontroller</servlet-name>
    <servlet-class>Controller.loginstaffcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginstaffcontroller</servlet-name>
    <url-pattern>/loginstaffcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>liststaffcontroller</display-name>
    <servlet-name>liststaffcontroller</servlet-name>
    <servlet-class>Controller.liststaffcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>liststaffcontroller</servlet-name>
    <url-pattern>/liststaffcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewstaffcontroller</display-name>
    <servlet-name>viewstaffcontroller</servlet-name>
    <servlet-class>Controller.viewstaffcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewstaffcontroller</servlet-name>
    <url-pattern>/viewstaffcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatestaffcontroller</display-name>
    <servlet-name>updatestaffcontroller</servlet-name>
    <servlet-class>Controller.updatestaffcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestaffcontroller</servlet-name>
    <url-pattern>/updatestaffcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detelestaffcontroller</display-name>
    <servlet-name>detelestaffcontroller</servlet-name>
    <servlet-class>Controller.detelestaffcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detelestaffcontroller</servlet-name>
    <url-pattern>/detelestaffcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustDAO</display-name>
    <servlet-name>CustDAO</servlet-name>
    <servlet-class>dao.CustDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDAO</servlet-name>
    <url-pattern>/CustDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBean</display-name>
    <servlet-name>CustomerBean</servlet-name>
    <servlet-class>model.CustomerBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBean</servlet-name>
    <url-pattern>/CustomerBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupcustcontroller</display-name>
    <servlet-name>signupcustcontroller</servlet-name>
    <servlet-class>Controller.signupcustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupcustcontroller</servlet-name>
    <url-pattern>/signupcustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logincustcontroller</display-name>
    <servlet-name>logincustcontroller</servlet-name>
    <servlet-class>Controller.logincustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logincustcontroller</servlet-name>
    <url-pattern>/logincustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewcustcontroller</display-name>
    <servlet-name>viewcustcontroller</servlet-name>
    <servlet-class>Controller.viewcustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewcustcontroller</servlet-name>
    <url-pattern>/viewcustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatecustcontroller</display-name>
    <servlet-name>updatecustcontroller</servlet-name>
    <servlet-class>Controller.updatecustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecustcontroller</servlet-name>
    <url-pattern>/updatecustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecustcontroller</display-name>
    <servlet-name>deletecustcontroller</servlet-name>
    <servlet-class>Controller.deletecustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecustcontroller</servlet-name>
    <url-pattern>/deletecustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listcustcontroller</display-name>
    <servlet-name>listcustcontroller</servlet-name>
    <servlet-class>Controller.listcustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listcustcontroller</servlet-name>
    <url-pattern>/listcustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewlistcustcontroller</display-name>
    <servlet-name>viewlistcustcontroller</servlet-name>
    <servlet-class>Controller.viewlistcustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewlistcustcontroller</servlet-name>
    <url-pattern>/viewlistcustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatelistcustcontroller</display-name>
    <servlet-name>updatelistcustcontroller</servlet-name>
    <servlet-class>Controller.updatelistcustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatelistcustcontroller</servlet-name>
    <url-pattern>/updatelistcustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletelistcustcontroller</display-name>
    <servlet-name>deletelistcustcontroller</servlet-name>
    <servlet-class>Controller.deletelistcustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletelistcustcontroller</servlet-name>
    <url-pattern>/deletelistcustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcatchcontroller</display-name>
    <servlet-name>addcatchcontroller</servlet-name>
    <servlet-class>Controller.addcatchcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcatchcontroller</servlet-name>
    <url-pattern>/addcatchcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatchBean</display-name>
    <servlet-name>CatchBean</servlet-name>
    <servlet-class>model.CatchBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatchBean</servlet-name>
    <url-pattern>/CatchBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatchDAO</display-name>
    <servlet-name>CatchDAO</servlet-name>
    <servlet-class>dao.CatchDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatchDAO</servlet-name>
    <url-pattern>/CatchDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listcatchcontroller</display-name>
    <servlet-name>listcatchcontroller</servlet-name>
    <servlet-class>Controller.listcatchcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listcatchcontroller</servlet-name>
    <url-pattern>/listcatchcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewcatchcontroller</display-name>
    <servlet-name>viewcatchcontroller</servlet-name>
    <servlet-class>Controller.viewcatchcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewcatchcontroller</servlet-name>
    <url-pattern>/viewcatchcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecatchcontroller</display-name>
    <servlet-name>deletecatchcontroller</servlet-name>
    <servlet-class>Controller.deletecatchcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecatchcontroller</servlet-name>
    <url-pattern>/deletecatchcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatecatchcontroller</display-name>
    <servlet-name>updatecatchcontroller</servlet-name>
    <servlet-class>Controller.updatecatchcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecatchcontroller</servlet-name>
    <url-pattern>/updatecatchcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addeventcontroller</display-name>
    <servlet-name>addeventcontroller</servlet-name>
    <servlet-class>Controller.addeventcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addeventcontroller</servlet-name>
    <url-pattern>/addeventcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventDAO</display-name>
    <servlet-name>EventDAO</servlet-name>
    <servlet-class>dao.EventDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDAO</servlet-name>
    <url-pattern>/EventDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventBean</display-name>
    <servlet-name>EventBean</servlet-name>
    <servlet-class>model.EventBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventBean</servlet-name>
    <url-pattern>/EventBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listeventcontroller</display-name>
    <servlet-name>listeventcontroller</servlet-name>
    <servlet-class>Controller.listeventcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeventcontroller</servlet-name>
    <url-pattern>/listeventcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vieweventcontroller</display-name>
    <servlet-name>vieweventcontroller</servlet-name>
    <servlet-class>Controller.vieweventcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vieweventcontroller</servlet-name>
    <url-pattern>/vieweventcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateeventcontroller</display-name>
    <servlet-name>updateeventcontroller</servlet-name>
    <servlet-class>Controller.updateeventcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateeventcontroller</servlet-name>
    <url-pattern>/updateeventcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteeventcontroller</display-name>
    <servlet-name>deleteeventcontroller</servlet-name>
    <servlet-class>Controller.deleteeventcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteeventcontroller</servlet-name>
    <url-pattern>/deleteeventcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetEventIdInSessionServlet</display-name>
    <servlet-name>SetEventIdInSessionServlet</servlet-name>
    <servlet-class>Controller.SetEventIdInSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetEventIdInSessionServlet</servlet-name>
    <url-pattern>/SetEventIdInSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listeventcustcontroller</display-name>
    <servlet-name>listeventcustcontroller</servlet-name>
    <servlet-class>Controller.listeventcustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeventcustcontroller</servlet-name>
    <url-pattern>/listeventcustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vieweventcustcontroller</display-name>
    <servlet-name>vieweventcustcontroller</servlet-name>
    <servlet-class>Controller.vieweventcustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vieweventcustcontroller</servlet-name>
    <url-pattern>/vieweventcustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vieweventcontrollernew</display-name>
    <servlet-name>vieweventcontrollernew</servlet-name>
    <servlet-class>Controller.vieweventcontrollernew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vieweventcontrollernew</servlet-name>
    <url-pattern>/vieweventcontrollernew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vieweventcontrollercustnew</display-name>
    <servlet-name>vieweventcontrollercustnew</servlet-name>
    <servlet-class>Controller.vieweventcontrollercustnew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vieweventcontrollercustnew</servlet-name>
    <url-pattern>/vieweventcontrollercustnew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listeventregistercontroller</display-name>
    <servlet-name>listeventregistercontroller</servlet-name>
    <servlet-class>Controller.listeventregistercontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeventregistercontroller</servlet-name>
    <url-pattern>/listeventregistercontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registercontroller</display-name>
    <servlet-name>registercontroller</servlet-name>
    <servlet-class>Controller.registercontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registercontroller</servlet-name>
    <url-pattern>/registercontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventdetailDAO</display-name>
    <servlet-name>EventdetailDAO</servlet-name>
    <servlet-class>dao.EventdetailDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventdetailDAO</servlet-name>
    <url-pattern>/EventdetailDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventdetailBean</display-name>
    <servlet-name>EventdetailBean</servlet-name>
    <servlet-class>model.EventdetailBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventdetailBean</servlet-name>
    <url-pattern>/EventdetailBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listcatchmaincontroller</display-name>
    <servlet-name>listcatchmaincontroller</servlet-name>
    <servlet-class>Controller.listcatchmaincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listcatchmaincontroller</servlet-name>
    <url-pattern>/listcatchmaincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listcustnewcontroller</display-name>
    <servlet-name>listcustnewcontroller</servlet-name>
    <servlet-class>Controller.listcustnewcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listcustnewcontroller</servlet-name>
    <url-pattern>/listcustnewcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateParticipantServlet</display-name>
    <servlet-name>ValidateParticipantServlet</servlet-name>
    <servlet-class>Controller.ValidateParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateParticipantServlet</servlet-name>
    <url-pattern>/ValidateParticipantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaderboardBean</display-name>
    <servlet-name>LeaderboardBean</servlet-name>
    <servlet-class>model.LeaderboardBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderboardBean</servlet-name>
    <url-pattern>/LeaderboardBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaderboardDAO</display-name>
    <servlet-name>LeaderboardDAO</servlet-name>
    <servlet-class>dao.LeaderboardDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderboardDAO</servlet-name>
    <url-pattern>/LeaderboardDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leaderboardcontroller</display-name>
    <servlet-name>leaderboardcontroller</servlet-name>
    <servlet-class>Controller.leaderboardcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leaderboardcontroller</servlet-name>
    <url-pattern>/leaderboardcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewstaffnewcontroller</display-name>
    <servlet-name>viewstaffnewcontroller</servlet-name>
    <servlet-class>Controller.viewstaffnewcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewstaffnewcontroller</servlet-name>
    <url-pattern>/viewstaffnewcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatestaffnewcontroller</display-name>
    <servlet-name>updatestaffnewcontroller</servlet-name>
    <servlet-class>Controller.updatestaffnewcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestaffnewcontroller</servlet-name>
    <url-pattern>/updatestaffnewcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalenderBean</display-name>
    <servlet-name>CalenderBean</servlet-name>
    <servlet-class>model.CalenderBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalenderBean</servlet-name>
    <url-pattern>/CalenderBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalenderDAO</display-name>
    <servlet-name>CalenderDAO</servlet-name>
    <servlet-class>dao.CalenderDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalenderDAO</servlet-name>
    <url-pattern>/CalenderDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calendercontroller</display-name>
    <servlet-name>calendercontroller</servlet-name>
    <servlet-class>Controller.calendercontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calendercontroller</servlet-name>
    <url-pattern>/calendercontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calendercustcontroller</display-name>
    <servlet-name>calendercustcontroller</servlet-name>
    <servlet-class>Controller.calendercustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calendercustcontroller</servlet-name>
    <url-pattern>/calendercustcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calenderindexcontroller</display-name>
    <servlet-name>calenderindexcontroller</servlet-name>
    <servlet-class>Controller.calenderindexcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calenderindexcontroller</servlet-name>
    <url-pattern>/calenderindexcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarHelper</display-name>
    <servlet-name>CalendarHelper</servlet-name>
    <servlet-class>Controller.CalendarHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarHelper</servlet-name>
    <url-pattern>/CalendarHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Utils</display-name>
    <servlet-name>Utils</servlet-name>
    <servlet-class>util.Utils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utils</servlet-name>
    <url-pattern>/Utils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listcuststaffnewcontroller</display-name>
    <servlet-name>listcuststaffnewcontroller</servlet-name>
    <servlet-class>Controller.listcuststaffnewcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listcuststaffnewcontroller</servlet-name>
    <url-pattern>/listcuststaffnewcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcatchlistcontroller</display-name>
    <servlet-name>addcatchlistcontroller</servlet-name>
    <servlet-class>Controller.addcatchlistcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcatchlistcontroller</servlet-name>
    <url-pattern>/addcatchlistcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listcatchcustcontroller</display-name>
    <servlet-name>listcatchcustcontroller</servlet-name>
    <servlet-class>Controller.listcatchcustcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listcatchcustcontroller</servlet-name>
    <url-pattern>/listcatchcustcontroller</url-pattern>
  </servlet-mapping>
</web-app>